body, html {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #FFFFFF;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #FFFFFF;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #EA7128;
}
a:hover, a:focus {
	text-decoration: none;
	color: #FFFFFF;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #FFFFFF;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navegação */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu a.navbar-brand {
	padding-top: 0px;
}
#menu a.navbar-brand > img {
	display: inline;;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #EA7128;
}
.on {
	background-color: #FFFFFF !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #EA7128 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFFFFF;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	color: #FFFFFF;
	background-color: #EA7128;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #FFFFFF;
}
/* Introcução */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/introducao.jpeg) no-repeat center center;
	background-color: #E5E5E5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'Sacramento', cursive;
	color: #FFFFFF;
	font-size: 10em;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro span {
	color: #A7C44C;
	font-weight: 600;
}
.intro p {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}
/* O que é? */
#o-que-e {
	padding: 120px 0;
	background-color: #3AA4A4;
}
#o-que-e p {
	color: #FFFFFF;
	line-height: 24px;
	margin: 15px 0 30px;
}
#o-que-e .o-que-e-text {
	margin-left: 10px;
}
#o-que-e img {
	margin: 10px auto;
}
/* Atividades Desenvolvidas */
#atividades-desenvolvidas {
	padding: 0 0 60px 0;
	background-color: #B3B31C;
}
#atividades-desenvolvidas .section-title {
	background: #FFFFFF url(../img/atividades-desenvolvidas.jpeg) center center no-repeat fixed;
	background-size: cover;
}
#atividades-desenvolvidas .section-title h2 {
	color: #FFFFFF;
}
#atividades-desenvolvidas h3 {
	padding: 10px 0;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
}
#atividades-desenvolvidas p {
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
}
#atividades-desenvolvidas img {
	margin: 15px auto;
	width: 300px;
}
#atividades-desenvolvidas hr {
	margin: 15px auto;
}
#atividades-desenvolvidas .mensagem {
	padding: 60px 0px 20px 0;
}
#atividades-desenvolvidas .mensagem > p {
	font-size: 25px;
}
#atividades-desenvolvidas .projeto-viver-bem {
	padding-bottom: 3%;
}
/* Colabore */
#colabore {
	padding: 0 0 120px 0;
}
#colabore .section-title {
	background: #FFFFFF url(../img/colabore.jpeg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#colabore .section-title h2 {
	color: #FFFFFF;
}
#colabore .colabore-simbolo {
	height: 170px;
}
#colabore .colabore-simbolo > img {
	margin: auto;
}
#colabore .colabore-texto > p {
	text-align: center;
	padding: 5px;
	color: #000000;
}
#colabore .colabore-texto > h3 {
	text-align: center;
	color: #000000;
}
#colabore .coracao {
	padding-top: 2%;
}
#colabore .papel-higienico {
	padding-top: 5%;
}
#colabore .brinquedo {
	padding-top: 1%;
}
#colabore .computador {
	padding-top: 3%;
}
/* Contato */
#contato {
	padding: 100px 0 60px 0;
	background: #FFC811;
}
#contato .section-title p {
	color: #FFFFFF;
}
#contato h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	color: #FFFFFF;
}
#contato .contato-simbolo {
	height: 100px;
}
#contato .contato-simbolo > img {
	width: 100px;
	margin: auto;
}
#contato .contato-texto > p {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
}
/* Rodapé */
#footer {
	background: #FFFFFF;
	padding: 0px;
}
#footer h3 {
	color: #8eb640;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .copyrights {
	padding: 20px 0;
	/* margin-top: 50px; */
	background: #45737E;
}
#footer .social {
	margin: 20px 0 30px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
	color: rgba(255,255,255,0.8)
}
#footer a, #footer a:hover {
	color: #f6f6f6;
}
#footer .social .facebook-texto {
	font-size: 20px;
	font-weight: 400;
}
